<!--/* 
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in 
a browser. 
-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="hapi-narrative.css"/>
    </head>
    <body>
<!--*/-->
<div>
    <th:block th:unless="${#strings.isEmpty(resource.name)}">
        <div class="hapiHeaderText" th:text="${resource.name}"/>
    </th:block>
    <th:block th:unless="${#arrays.isEmpty(resource.identifier)}">
        <br />
        <div class="hapiHeaderText" th:text="Identificadores"/>
        <table class="hapiPropertyTable">
            <tbody>
                <tr th:each="identifier : ${resource.identifier}">
                    <td th:text="${identifier.value}"></td>
                    <div th:switch="${identifier.system}">
                        <td th:case="'http://rnds.saude.gov.br/fhir/r4/NamingSystem/cnes'">Número no CNES</td>
                        <td th:case="'https://alexandresavaris.org/fhir/r4/NamingSystem/cnes/CodigoUnidade'">Código da Unidade no CNES</td>
                        <td th:case="'http://rnds.saude.gov.br/fhir/r4/NamingSystem/cnpj'">CNPJ</td>
                    </div>
                </tr>
            </tbody>
        </table>
    </th:block>
    <!--
    <table class="hapiPropertyTable">
        <tbody>
            <tr th:if="${not resource.identifier.empty}">
                <td>Identifier</td>
                <td th:narrative="${resource.identifier[0]}"></td>
            </tr>
            <tr th:if="${not resource.address.empty}">
                <td>Address</td>
                <td th:narrative="${resource.address[0]}"></td>
            </tr>
        </tbody>
    </table>
    -->
</div>
<!--/*-->
    </body>
</html>
<!--*/-->