<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/logs/fhir-facade-cnes-organization.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <root>
        <appender-ref ref="FILE" />
    </root>
</configuration>
